/* ==========================================================================
   COMPONENTS/_NAVIGATION.SCSS
   ========================================================================== */

header {
	@include clearfix();
	padding: 0 5%;
	height: 70px;

	// &.active { height: 100%; }

	.logo {
		display: inline-block;
		height: 48px;
		width: 77px;

		.st0 {
			fill: $orange;
			transition: fill 250ms linear;
		}

		&:hover,
		&:focus {
			.st0 { fill: $gray; }
		}
	}

	.hamburger {
		float: right;
		margin-top: 1.25em;
		padding-right: 0;

		&:focus { outline: 0; }
	}
}

.nav {
	background-color: $white-trans;
	font-size: 1.4em;
	font-weight: 500;
	letter-spacing: 2px;
	height: 0;
	left: 0;
	overflow: hidden;
	padding: 0 5% 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	transition: height 250ms linear, padding-top 250ms linear;
	width: 100%;

	&.active {
		display: block;
		height: 100vh;
		padding-top: $mobile-buffer;
	}

	a {
		display: block;
		padding: $space 0;

		.inline { display: inline; }
	}
}


@media only all and (min-width: $bp-large-2) {
	header {
		height: 97px;

		.logo {
			height: 71px;
			width: 113px;
		}
	}

	.nav {
		background: transparent;
		display: inline-block;
		font-size: 1.1em;
		float: right;
		height: auto;
		padding: 2.25em 0 0 0;
		position: relative;
		width: calc(100% - 113px);

		li {
			float: left;
			width: 14.285%;

			a {
				.inline { display: block; }
			}
		}
	}
}
